@import 'svelte-materialify/src/styles/variables';
@import 'svelte-materialify/src/styles/tools/colors';

:global(body) {
  overflow-y: scroll;
}

:global(.browser-frame) {
  border-width: 1px;
  border-style: solid;
  border-color: lighten($primary-color, 30%);

  :global(> .frame-header) {
    background-color: lighten($primary-color, 48%);
  }
}

:global(.color-icon) {
  color: lighten($primary-color, 30%);
}

:global(.table-icon) {
  position: relative;
  top: 2px;
}

:global(td) {
  &.shrink {
    width: 0.1%;
    white-space: nowrap;
  }
}

:global(.s-table__wrapper.stripped > table > tr:nth-child(even)) {
  background-color: material-color('grey', 'lighten-3');;
}

:global(a.filename) {
  text-decoration: none;
  font-family: monospace;
}

:global(svg.text-inline) {
  position: relative;
  top: .125em;
}

:global(.markdown) {
  @each $heading in 'h1', 'h2', 'h3', 'h4', 'h5', 'h6' {
    $value_map: map-get($headings, $heading);
    :global(#{$heading}) {
      font-size: calc(.5 * #{map-get($value_map, 'size')});
      line-height: calc(.5 * #{map-get($value_map, 'line-height')});
    }
  }
}
